@page
@using Microsoft.Extensions.HealthChecks
@using System.Threading;
@using System.Diagnostics;
@inject IHealthCheckService healthCheck
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CompositeHealthCheckResult
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6 class="pull-right">Elapsed time: @( ViewBag.ExecutionTime.Milliseconds )ms</h6>
    <h1>Overall status: <em>@Model.CheckStatus</em></h1>

    <br />
    @{
        var timedTokenSource = new CancellationTokenSource(TimeSpan.FromSeconds(3));
        var stopwatch = Stopwatch.StartNew();
        var checkResult = await healthCheck.CheckHealthAsync(timedTokenSource.Token);
        ViewBag.ExecutionTime = stopwatch.Elapsed;

        await Html.RenderPartialAsync("StatusTable", Model.Results); }
    <br />

    <a href="health">API endpoint</a>
</div>